html,
body {
  height: 100%;
  margin: 0;
  background-color: black;
}

.header-container {
  display: flex;
  justify-content: center;

  padding: 20px;
}
.subheader {
  color: rgb(199, 194, 194);
  text-align: center;
  margin: 10px;
  font-size: 30px;
}
.navigation-bar {
  display: flex;
  color: white;
  justify-content: space-between;
  width: 30%;
}

.main-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
  gap: 20px;

  justify-content: center;
  align-items: center;
}

.videocard-img {
  height: 300px;
  width: auto;
}
.img-container {
  display: flex;

  justify-content: center;
  align-items: center;
}

.weapon-container {
  display: flex;
  justify-content: center;

  flex-direction: column;
  background-color: transparent;
  backdrop-filter: blur(10px);
  box-shadow: 0 12px 24px #1e1e1e;
  padding: 3px;
  border-radius: 10px;
}
.details-subcon {
  color: aliceblue;
  display: flex;
  justify-content: space-between;
}

.old-price {
  color: rgb(146, 143, 143);
  font-size: small;
  margin-top: -30px;
}
.add-weaponry {
  font-size: 20px;
}
.plus-sign {
  font-size: 50px;
}

.plus-icon {
  height: 30px;
}
.new-price {
  font-size: 20px;
}
.weapon-name {
  color: rgb(146, 143, 143);
  text-align: center;
  font-size: small;
  padding: 10px;
  padding-top: 20px;
}
.add-weapon {
  border: none;
  background-color: black;
  margin-top: -12px;
  font-size: 20px;
  position: relative;
  display: inline-block;
}
.weapon-link {
  background-color: #000000;
  text-decoration: none;
  color: white;
  font-weight: 700;

  padding: 8px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1;
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
  position: absolute;
  right: 0;
  top: 5%;
  text-align: center;
  border: none;

  width: 150px;
}

.add-weapon:hover .weapon-link {
  opacity: 1;
  border: none;
  background-color: black;
  box-shadow: 0px 8px 16px 0px rgb(87, 87, 87);
}
.add-weapon:active .weapon-link {
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  font-weight: bolder;
  box-shadow: 0px 8px 16px 0px rgb(0, 0, 0);
}
.weaponry {
  z-index: 2;
  position: fixed;
  right: 0;
  top: 0;

  display: flex;
  justify-content: center;

  margin: 20px; /* Adjust the margin as needed */
}
/* Dropdown Button */
.dropbtn {
  background-color: #000000;
  color: white;

  font-size: 14px;
  border: none;
  font-weight: bolder;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000000;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgb(32, 32, 32);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: rgba(192, 192, 192, 0.856);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 14px;

  font-weight: bolder;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #333333;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  color: #696969;
}

.js-weaponry-quantity {
  color: white;
  font-size: 15px;
  font-weight: bolder;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
